<ion-app>
  <app-header title="Inicio"></app-header>
  <ion-content [fullscreen]="true" class="ion-padding">


<ion-button (click)="signOut()">
  Cerrar Sesión
</ion-button>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addUpdateProduct()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

    <!-- Search Bar -->
    <div class="w-full py-4">
      <ion-searchbar placeholder="Search for recipes..." class="rounded-md"></ion-searchbar>
    </div>

    <!-- Categories (Chips) -->
    <div class="flex flex-wrap gap-2 mb-4 mx-2">
      <ion-chip color="tertiary" >
        <ion-label>Breakfast</ion-label>
      </ion-chip>
      <ion-chip color="tertiary" outline>
        <ion-label>Lunch</ion-label>
      </ion-chip>
      <ion-chip color="tertiary" outline>
        <ion-label>Dinner</ion-label>
      </ion-chip>
      <ion-chip color="tertiary" outline>
        <ion-label>Dessert</ion-label>
      </ion-chip>
    </div>


    <!-- Trending Recipes (Cards) -->
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <ion-card class="bg-white p-4 rounded shadow">
        <img src="assets/logo-homechef.svg" alt="Image 1" class="w-full h-32 object-cover mb-2 rounded" />
        <ion-card-header>
          <ion-card-title class="text-xl font-semibold">Tonkotsu Ramen</ion-card-title>
          <ion-card-subtitle class="text-gray-600">A flavorful broth with tender noodles...</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-button fill="outline" color="primary">Trending</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card class="bg-white p-4 rounded shadow">
        <img src="assets/logo-homechef.svg" alt="Image 2" class="w-full h-32 object-cover mb-2 rounded" />
        <ion-card-header>
          <ion-card-title class="text-xl font-semibold">Margherita Pizza</ion-card-title>
          <ion-card-subtitle class="text-gray-600">Classic pizza with a crispy crust...</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-button fill="outline" color="primary">Trending</ion-button>
        </ion-card-content>
      </ion-card>

      <!-- Add more cards as needed -->
    </section>

    <!-- Floating Action Button (FAB) -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="tertiary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
</ion-app>

