:root {
  // Light Theme
  --ion-color-light-bg: #ffffff; // Light background
  --ion-color-light-text: #000000; // Light text color

  // Medium Theme
  --ion-color-medium-bg: #f0f0f0; // Medium background
  --ion-color-medium-text: #333333; // Medium text color


}
