<ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
  <ion-header>
    <ion-toolbar color="verde">
      <ion-title class="font-semibold text-[#011B39] text-xl">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="false" *ngFor="let p of pages">
        <ion-item [routerLink]="p.url" routerDirection="root" detail lines="none">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="menu-content" main></ion-router-outlet>