@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-color-verde: #aed35f;
  --ion-color-verde-rgb: 174, 211, 95;
  --ion-color-verde-contrast: #000000;
  --ion-color-verde-contrast-rgb: 0, 0, 0;
  --ion-color-verde-shade: #99ba54;
  --ion-color-verde-tint: #b6d76f;
}

.ion-color-verde {
  --ion-color-base: var(--ion-color-verde);
  --ion-color-base-rgb: var(--ion-color-verde-rgb);
  --ion-color-contrast: var(--ion-color-verde-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verde-contrast-rgb);
  --ion-color-shade: var(--ion-color-verde-shade);
  --ion-color-tint: var(--ion-color-verde-tint);
}

html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";



