@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-color-violeta: #8b5cf6;
  --ion-color-violeta-rgb: 174, 211, 95;
  --ion-color-violeta-contrast: #f7f7f7;
  --ion-color-violeta-contrast-rgb: 0, 0, 0;
  --ion-color-violeta-shade: #7f00a2;
  --ion-color-violeta-tint: #8017a3;
}

.ion-color-violeta {
  --ion-color-base: var(--ion-color-violeta);
  --ion-color-base-rgb: var(--ion-color-violeta-rgb);
  --ion-color-contrast: var(--ion-color-violeta-contrast);
  --ion-color-contrast-rgb: var(--ion-color-violeta-contrast-rgb);
  --ion-color-shade: var(--ion-color-violeta-shade);
  --ion-color-tint: var(--ion-color-violeta-tint);
}



html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
  --ion-font-family: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";



